@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset, img {
border:0 none;
}
address, caption, cite, code, dfn, em, th, var {
font-style:normal;
font-weight:normal;
}
ol, ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
caption, th {
text-align:left;
}
h1, h2, h3, h4, h5, h6 {
font-size:100%;
font-weight:normal;
}
A:link{ color:#000000; text-decoration:none;}
A:active{ color:#000000; text-decoration:none;}
A:visited{ color:#000000; text-decoration:none;}
A:hover{text-decoration:none; color:#666666}
a:hover,a:fouce{ outline:none;}
*{outline:none;}
*{font-size:12px;}
div.shk_content{ float:left; width:100%;}
div.shk_frame{ margin-left:auto; margin-right:auto; width:990px;}
div.shk_search{ float:left; width:100%; background-image:url(../images/search_bg.jpg); background-position:left top; height:34px; background-repeat:repeat-x; margin-top:4px;}
div.shk_search table{ width:100%; border-collapse:collapse; margin-top:4px;}
div.shk_search table td{height:30px; line-height:30px; vertical-align:middle;}
div.shk_guide{ float:left; width:988px;; border:1px solid #4167a5;margin-top:4px;}
div.shk_guide p{line-height:15px; vertical-align:middle; padding:3px; color:#3d76b9; vertical-align:middle;}
div.shk_guide p a{line-height:15px; vertical-align:middle; padding:3px; color:#3d76b9; vertical-align:middle;}
div.shk_list_search{ float:left; width:100%; background-image:url(../images/search_bg.jpg); background-position:left top; height:34px; background-repeat:repeat-x; margin-top:4px;}
div.shk_list_search table{ width:100%; border-collapse:collapse; margin-top:4px;}
div.shk_list_search table td{height:30px; line-height:30px; vertical-align:middle;}
div.shk_list_guide{ float:left; width:761px;; border:1px solid #4167a5;margin-top:4px;}
div.shk_list_guide p{line-height:15px; vertical-align:middle; padding:3px; color:#3d76b9; vertical-align:middle;}
div.shk_list_guide p a{line-height:15px; vertical-align:middle; padding:3px; color:#3d76b9; vertical-align:middle;}
div.shk_list_guide_d{ float:left; width:761px;; border:1px solid #4167a5;margin-top:4px;}
div.shk_list_guide_d p{line-height:15px; vertical-align:middle; padding:3px; color:#3d76b9; vertical-align:middle;}
div.shk_list_guide_d p a{line-height:15px; vertical-align:middle; padding:3px; color:#3d76b9; vertical-align:middle;}
/*CSS sabrosus style pagination*/

DIV.sabrosus {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.sabrosus A {
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
DIV.sabrosus A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.pagination A:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.sabrosus SPAN.current {
	BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #2e6ab1
}
DIV.sabrosus SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}

